.footer {
    background-color: rgb(47, 28, 28);
        color: #fff;
    text-align: center;
    padding: 20px 0;
    
  }
  
  .footer-content p {
    color: white;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Gowun Dodum", sans-serif;

  }
  
  .whatsapp-link {
    color: white; /* WhatsApp green color */
    text-decoration: none;
    font-weight: bolder;
    font-family: "Gowun Dodum", sans-serif;
font-size: small;
font-size: 15px;

  }
  
  .whatsapp-link:hover {
    text-decoration: underline;
  }
  